@CHARSET "UTF-8";

thead th{
	border: medium solid #336699;
}

thead th.rl{
	border: medium solid #339999;
}

thead th.lr{
	border: medium solid #339966;
}

thead th.ges{
	border: medium solid #669966;
}

tbody td{
	border: medium solid #336699;
}

tbody td.rl{
	border: medium solid #339999;
	text-align: center;
}

tbody td.lr{
	border: medium solid #339966;
	text-align: center;
}

tbody td.ges{
	border: medium solid #669966;
}

div#information{
	width: 50%;
	border: medium solid #993333;
	margin-top: 2em;
	font-size: 1.5em;
}